{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url('../../static/images/Sun\ Red.jpeg');
        background-position: center;
        height: 100vh;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
</style>
<section class="p-5">
    <section class="p-5">
        <div class="container text-center">
            <h1 class="text-light">{{ error_code }}</h1>
            {% if error_message %}
            <p class="text-light">{{ error_message }}</p>
            <p class="text-light">Try logging in or signing up to resolve the issue.</p>
        {% endif %}
        </div>
    </section>
</section>
{% endblock %}
