{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url('../../static/images/Profile.jpeg');
        background-position: center;
        height: 100vh;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
</style>
<section class="text-center p-5">
    <div class="container p-5">
        <ul class="list-group">
            <li class="list-group-item text-warning" id="profile">First Name: {{ current_user.first }}</li>
            <li class="list-group-item text-warning" id="profile">Last Name: {{ current_user.last }}</li>
            <li class="list-group-item text-warning" id="profile">Username: {{ current_user.username }}</li>
            <li class="list-group-item text-warning" id="profile">Email: {{ current_user.email }}</li>
        </ul>
    </div>
</section>
{% endblock %}